IATA_AirShoppingRS.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" elementFormDefault="qualified" version="10.000" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" id="IATA2021.3"><xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" schemaLocation="IATA_OffersAndOrdersCommonTypes.xsd"/>
<xs:element name="IATA_AirShoppingRS">
<xs:annotation>
<xs:documentation>The AirShopping transaction set supports both demanding and flexible shopping experiences for anonymous or personalized shopping.

The combination of functionally-rich attribute and affinity shopping support date range or specific month (calendar) shopping as an example.

The response returns offers which may include branded offers or itinerary-priced offers with or without ancillary services. It also returns applicable rules for the integrated fares as well as for each service.

The message also returns multi-media content at message level as well as media references at the individual offer level.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:choice minOccurs="1" maxOccurs="1">
<xs:element name="Error" type="cns:ErrorType" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Response" type="cns:AirShoppingResponseType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>AirShopping response information.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="AugmentationPoint" type="cns:AugmentationPointType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Implementer-Augmented Structure.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PayloadAttributes" type="cns:IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>IATA standard payload attributes.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:key name = "BaggageAllowanceIDKey" ><xs:selector xpath = "./Response/DataLists/BaggageAllowanceList/BaggageAllowance" /><xs:field xpath="BaggageAllowanceID"/> </xs:key>
<xs:key name = "BaggageDisclosureIDKey" ><xs:selector xpath = "./Response/DataLists/BaggageDisclosureList/BaggageDisclosure" /><xs:field xpath="BaggageDisclosureID"/> </xs:key>
<xs:key name = "DisclosureIDKey" ><xs:selector xpath = "./Response/DataLists/DisclosureList/Disclosure" /><xs:field xpath="DisclosureID"/> </xs:key>
<xs:key name = "OriginDestIDKey" ><xs:selector xpath = "./Response/DataLists/OriginDestList/OriginDest" /><xs:field xpath="OriginDestID"/> </xs:key>
<xs:key name = "PaxJourneyIDKey" ><xs:selector xpath = "./Response/DataLists/PaxJourneyList/PaxJourney" /><xs:field xpath="PaxJourneyID"/> </xs:key>
<xs:key name = "PaxIDKey" ><xs:selector xpath = "./Response/DataLists/PaxList/Pax" /><xs:field xpath="PaxID"/> </xs:key>
<xs:key name = "DatedOperatingLegIDKey" ><xs:selector xpath = "./Response/DataLists/PaxSegmentList/PaxSegment/DatedOperatingLeg" /><xs:field xpath="DatedOperatingLegID"/> </xs:key>
<xs:key name = "PaxSegmentIDKey" ><xs:selector xpath = "./Response/DataLists/PaxSegmentList/PaxSegment" /><xs:field xpath="PaxSegmentID"/> </xs:key>
<xs:key name = "PenaltyIDKey" ><xs:selector xpath = "./Response/DataLists/PenaltyList/Penalty" /><xs:field xpath="PenaltyID"/> </xs:key>
<xs:key name = "PriceClassIDKey" ><xs:selector xpath = "./Response/DataLists/PriceClassList/PriceClass" /><xs:field xpath="PriceClassID"/> </xs:key>
<xs:key name = "SeatProfileIDKey" ><xs:selector xpath = "./Response/DataLists/SeatProfileList/SeatProfile" /><xs:field xpath="SeatProfileID"/> </xs:key>
<xs:key name = "ServiceDefinitionIDKey" ><xs:selector xpath = "./Response/DataLists/ServiceDefinitionList/ServiceDefinition" /><xs:field xpath="ServiceDefinitionID"/> </xs:key>
<xs:keyref name = "PaxSegmentIDKeyKeyRef1" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/DataLists/ContactInfoList/ContactInfo/PaxSegmentRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef1" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/DataLists/OriginDestList/OriginDest/PaxJourneyRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef2" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/DataLists/PaxJourneyList/PaxJourney/PaxSegmentRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef3" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/DataLists/PaxList/Pax/ContactInfo/PaxSegmentRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef1" refer="PaxIDKey"><xs:selector xpath="./Response/DataLists/PaxList/Pax/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "DisclosureIDKeyKeyRef1" refer="DisclosureIDKey"><xs:selector xpath="./Response/DataLists/PaxSegmentList/PaxSegment/OperatingCarrierInfo/DisclosureRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "BaggageAllowanceIDKeyKeyRef1" refer="BaggageAllowanceIDKey"><xs:selector xpath="./Response/DataLists/ServiceDefinitionList/ServiceDefinition/ServiceDefinitionAssociation/BaggageAllowanceRef/BaggageAllowanceRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "SeatProfileIDKeyKeyRef1" refer="SeatProfileIDKey"><xs:selector xpath="./Response/DataLists/ServiceDefinitionList/ServiceDefinition/ServiceDefinitionAssociation/SeatProfileRef/SeatProfileRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef1" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Response/DataLists/ServiceDefinitionList/ServiceDefinition/ServiceDefinitionAssociation/ServiceBundle/ServiceDefinitionRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "BaggageDisclosureIDKeyKeyRef1" refer="BaggageDisclosureIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/BaggageDisclosureRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "DisclosureIDKeyKeyRef2" refer="DisclosureIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/DisclosureRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef2" refer="PaxIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/OfferItem/CancelRestrictions/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef3" refer="PaxIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/OfferItem/ChangeRestrictions/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef1" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/OfferItem/Eligibility/OfferFlightAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef2" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/OfferItem/Eligibility/OfferFlightAssociations/PaxJourneyRef/PaxJourneyRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef4" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/OfferItem/Eligibility/OfferFlightAssociations/PaxSegmentReferences/PaxSegmentRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef4" refer="PaxIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/OfferItem/Eligibility/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef5" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/OfferItem/Eligibility/PaxSegmentRef/PaxSegmentRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef1" refer="PriceClassIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/OfferItem/Eligibility/PriceClassRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef2" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/OfferItem/Service/ServiceDefinitionRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef1" refer="PenaltyIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/PenaltyRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef5" refer="PaxIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/ALaCarteOffer/PTC_OfferParameters/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "BaggageAllowanceIDKeyKeyRef2" refer="BaggageAllowanceIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/BaggageAssociations/BaggageAllowanceRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef2" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/BaggageAssociations/OfferFlightAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef3" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/BaggageAssociations/OfferFlightAssociations/PaxJourneyRef/PaxJourneyRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef6" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/BaggageAssociations/OfferFlightAssociations/PaxSegmentReferences/PaxSegmentRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef6" refer="PaxIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/BaggageAssociations/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "BaggageDisclosureIDKeyKeyRef2" refer="BaggageDisclosureIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/BaggageDisclosureRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "DisclosureIDKeyKeyRef3" refer="DisclosureIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/DisclosureRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef4" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/JourneyOverview/JourneyPriceClass/PaxJourneyRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef2" refer="PriceClassIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/JourneyOverview/JourneyPriceClass/PriceClassRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef3" refer="PriceClassIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/JourneyOverview/PriceClassRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef7" refer="PaxIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/CancelRestrictions/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef8" refer="PaxIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/ChangeRestrictions/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef2" refer="PenaltyIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/FareDetail/FareComponent/FareRule/PenaltyRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef7" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/FareDetail/FareComponent/PaxSegmentRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef4" refer="PriceClassIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/FareDetail/FareComponent/PriceClassRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef9" refer="PaxIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/FareDetail/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef3" refer="PenaltyIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/FareDetail/PenaltyRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef5" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/Service/OfferServiceAssociation/PaxJourneyRef/PaxJourneyRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef3" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/Service/OfferServiceAssociation/SeatAssignment/DatedOperatingLegRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "SeatProfileIDKeyKeyRef2" refer="SeatProfileIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/Service/OfferServiceAssociation/SeatAssignment/Seat/SeatProfileRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef3" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/Service/OfferServiceAssociation/SeatAssignment/ServiceDefinitionRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef4" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/OfferFlightAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef6" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/OfferFlightAssociations/PaxJourneyRef/PaxJourneyRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef8" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/OfferFlightAssociations/PaxSegmentReferences/PaxSegmentRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef4" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/ServiceDefinitionRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef10" refer="PaxIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/OfferItem/Service/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef4" refer="PenaltyIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/PenaltyRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef11" refer="PaxIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/Offer/PTC_OfferParameters/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "OriginDestIDKeyKeyRef1" refer="OriginDestIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/PriceCalendar/PriceCalendarDate/OriginDestRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef12" refer="PaxIDKey"><xs:selector xpath="./Response/OffersGroup/CarrierOffers/PriceCalendar/PricedPTC/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef9" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/Processing/PaxGroup/ContactInfo/PaxSegmentRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef13" refer="PaxIDKey"><xs:selector xpath="./Response/Promotion/PaxRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef10" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/Promotion/PromotionIssuer/Org/ContactInfo/PaxSegmentRefID"/><xs:field xpath=" ."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef11" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/Promotion/PromotionIssuer/TravelAgency/ContactInfo/PaxSegmentRefID"/><xs:field xpath=" ."/></xs:keyref></xs:element>
</xs:schema>
