IATA_OfferPriceRS.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" elementFormDefault="qualified" version="8.000" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" id="IATA2021.3"><xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" schemaLocation="IATA_OffersAndOrdersCommonTypes.xsd"/>
<xs:element name="IATA_OfferPriceRS">
<xs:annotation>
<xs:documentation>The OfferPrice transaction set may return two different sets of content. The response will initially provide the priced Offer reflecting the Offers/OfferItems requested for pricing, and potentially additional Offers that are applicable and relevant to the PricedOffer provided.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:choice minOccurs="1" maxOccurs="1">
<xs:element name="Error" type="cns:ErrorType" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Response" type="cns:OfferPriceResponseType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Offer Price RS response information.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="AugmentationPoint" type="cns:AugmentationPointType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Implementer-Augmented Structure.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PayloadAttributes" type="cns:IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>IATA Standard Payload Attributes</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:key name = "BaggageAllowanceIDKey" ><xs:selector xpath = "./Response/DataLists/BaggageAllowanceList/BaggageAllowance" /><xs:field xpath="BaggageAllowanceID"/> </xs:key>
<xs:key name = "BaggageDisclosureIDKey" ><xs:selector xpath = "./Response/DataLists/BaggageDisclosureList/BaggageDisclosure" /><xs:field xpath="BaggageDisclosureID"/> </xs:key>
<xs:key name = "ContactInfoIDKey" ><xs:selector xpath = "./Response/DataLists/ContactInfoList/ContactInfo" /><xs:field xpath="ContactInfoID"/> </xs:key>
<xs:key name = "DatedOperatingLegIDKey" ><xs:selector xpath = "./Response/DataLists/DatedOperatingLegList/DatedOperatingLeg" /><xs:field xpath="DatedOperatingLegID"/> </xs:key>
<xs:key name = "DisclosureIDKey" ><xs:selector xpath = "./Response/DataLists/DisclosureList/Disclosure" /><xs:field xpath="DisclosureID"/> </xs:key>
<xs:key name = "PaxJourneyIDKey" ><xs:selector xpath = "./Response/DataLists/PaxJourneyList/PaxJourney" /><xs:field xpath="PaxJourneyID"/> </xs:key>
<xs:key name = "PaxIDKey" ><xs:selector xpath = "./Response/DataLists/PaxList/Pax" /><xs:field xpath="PaxID"/> </xs:key>
<xs:key name = "PaxSegmentIDKey" ><xs:selector xpath = "./Response/DataLists/PaxSegmentList/PaxSegment" /><xs:field xpath="PaxSegmentID"/> </xs:key>
<xs:key name = "PenaltyIDKey" ><xs:selector xpath = "./Response/DataLists/PenaltyList/Penalty" /><xs:field xpath="PenaltyID"/> </xs:key>
<xs:key name = "PriceClassIDKey" ><xs:selector xpath = "./Response/DataLists/PriceClassList/PriceClass" /><xs:field xpath="PriceClassID"/> </xs:key>
<xs:key name = "SeatProfileIDKey" ><xs:selector xpath = "./Response/DataLists/SeatProfileList/SeatProfile" /><xs:field xpath="SeatProfileID"/> </xs:key>
<xs:key name = "ServiceDefinitionIDKey" ><xs:selector xpath = "./Response/DataLists/ServiceDefinitionList/ServiceDefinition" /><xs:field xpath="ServiceDefinitionID"/> </xs:key>
<xs:keyref name = "PaxSegmentIDKeyKeyRef1" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/DataLists/ContactInfoList/ContactInfo/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef1" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/DataLists/DatedOperatingSegmentList/DatedOperatingSegment/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DisclosureIDKeyKeyRef1" refer="DisclosureIDKey"><xs:selector xpath="./Response/DataLists/DatedOperatingSegmentList/DatedOperatingSegment/DisclosureRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef1" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/DataLists/OriginDestList/OriginDest/PaxJourneyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef2" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/DataLists/PaxJourneyList/PaxJourney/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "ContactInfoIDKeyKeyRef1" refer="ContactInfoIDKey"><xs:selector xpath="./Response/DataLists/PaxList/Pax/ContactInfoRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef1" refer="PaxIDKey"><xs:selector xpath="./Response/DataLists/PaxList/Pax/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef2" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/DataLists/PaxSegmentList/PaxSegment/CabinTypeAssociationChoice/LegCabinAssociations/LegsAssociatedCabin/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "BaggageAllowanceIDKeyKeyRef1" refer="BaggageAllowanceIDKey"><xs:selector xpath="./Response/DataLists/ServiceDefinitionList/ServiceDefinition/ServiceDefinitionAssociation/BaggageAllowanceRef/BaggageAllowanceRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "SeatProfileIDKeyKeyRef1" refer="SeatProfileIDKey"><xs:selector xpath="./Response/DataLists/ServiceDefinitionList/ServiceDefinition/ServiceDefinitionAssociation/SeatProfileRef/SeatProfileRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef1" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Response/DataLists/ServiceDefinitionList/ServiceDefinition/ServiceDefinitionAssociation/ServiceBundle/ServiceDefinitionRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "BaggageDisclosureIDKeyKeyRef1" refer="BaggageDisclosureIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/BaggageDisclosureRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DisclosureIDKeyKeyRef2" refer="DisclosureIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/DisclosureRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef2" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/OfferItem/CancelRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef3" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/OfferItem/ChangeRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef3" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/OfferItem/Eligibility/OfferFlightAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef2" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/OfferItem/Eligibility/OfferFlightAssociations/PaxJourneyRef/PaxJourneyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef3" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/OfferItem/Eligibility/OfferFlightAssociations/PaxSegmentReferences/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef4" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/OfferItem/Eligibility/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef1" refer="PriceClassIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/OfferItem/Eligibility/PriceClassRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef2" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/OfferItem/Service/ServiceDefinitionRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef1" refer="PenaltyIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef5" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/ALaCarteOffer/PTC_OfferParameters/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "BaggageAllowanceIDKeyKeyRef2" refer="BaggageAllowanceIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/BaggageAssociations/BaggageAllowanceRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef4" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/BaggageAssociations/OfferFlightAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef3" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/BaggageAssociations/OfferFlightAssociations/PaxJourneyRef/PaxJourneyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef4" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/BaggageAssociations/OfferFlightAssociations/PaxSegmentReferences/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef6" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/BaggageAssociations/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "BaggageDisclosureIDKeyKeyRef2" refer="BaggageDisclosureIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/BaggageDisclosureRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DisclosureIDKeyKeyRef3" refer="DisclosureIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/DisclosureRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef4" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/JourneyOverview/JourneyPriceClass/PaxJourneyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef2" refer="PriceClassIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/JourneyOverview/JourneyPriceClass/PriceClassRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef3" refer="PriceClassIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/JourneyOverview/PriceClassRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef7" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/CancelRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef8" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/ChangeRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef9" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/FareDetail/FareComponent/CancelRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef10" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/FareDetail/FareComponent/ChangeRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef2" refer="PenaltyIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/FareDetail/FareComponent/FareRule/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef5" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/FareDetail/FareComponent/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef4" refer="PriceClassIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/FareDetail/FareComponent/PriceClassRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef11" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/FareDetail/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef3" refer="PenaltyIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/FareDetail/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef5" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/Service/OfferServiceAssociation/PaxJourneyRef/PaxJourneyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "SeatProfileIDKeyKeyRef2" refer="SeatProfileIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/Service/OfferServiceAssociation/SeatAssignment/Seat/SeatProfileRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef5" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/Service/OfferServiceAssociation/SeatAssignment/SeatAssignmentAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef6" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/Service/OfferServiceAssociation/SeatAssignment/SeatAssignmentAssociations/PaxSegmentRef/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef3" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/Service/OfferServiceAssociation/SeatAssignment/ServiceDefinitionRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef6" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/OfferFlightAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef6" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/OfferFlightAssociations/PaxJourneyRef/PaxJourneyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef7" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/OfferFlightAssociations/PaxSegmentReferences/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef4" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/ServiceDefinitionRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef12" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/Service/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef13" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/StopOverRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef7" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/StopOverRestrictions/StopOverLocation/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef8" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/OfferItem/StopOverRestrictions/StopOverLocation/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef4" refer="PenaltyIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef14" refer="PaxIDKey"><xs:selector xpath="./Response/OtherOffers/Offer/PTC_OfferParameters/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "BaggageAllowanceIDKeyKeyRef3" refer="BaggageAllowanceIDKey"><xs:selector xpath="./Response/PricedOffer/BaggageAssociations/BaggageAllowanceRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef8" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/PricedOffer/BaggageAssociations/OfferFlightAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef7" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/PricedOffer/BaggageAssociations/OfferFlightAssociations/PaxJourneyRef/PaxJourneyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef9" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/PricedOffer/BaggageAssociations/OfferFlightAssociations/PaxSegmentReferences/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef15" refer="PaxIDKey"><xs:selector xpath="./Response/PricedOffer/BaggageAssociations/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "BaggageDisclosureIDKeyKeyRef3" refer="BaggageDisclosureIDKey"><xs:selector xpath="./Response/PricedOffer/BaggageDisclosureRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DisclosureIDKeyKeyRef4" refer="DisclosureIDKey"><xs:selector xpath="./Response/PricedOffer/DisclosureRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef8" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/PricedOffer/JourneyOverview/JourneyPriceClass/PaxJourneyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef5" refer="PriceClassIDKey"><xs:selector xpath="./Response/PricedOffer/JourneyOverview/JourneyPriceClass/PriceClassRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef6" refer="PriceClassIDKey"><xs:selector xpath="./Response/PricedOffer/JourneyOverview/PriceClassRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef16" refer="PaxIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/CancelRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef17" refer="PaxIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/ChangeRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef18" refer="PaxIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/FareDetail/FareComponent/CancelRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef19" refer="PaxIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/FareDetail/FareComponent/ChangeRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef5" refer="PenaltyIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/FareDetail/FareComponent/FareRule/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef10" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/FareDetail/FareComponent/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef7" refer="PriceClassIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/FareDetail/FareComponent/PriceClassRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef20" refer="PaxIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/FareDetail/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef6" refer="PenaltyIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/FareDetail/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef9" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/Service/OfferServiceAssociation/PaxJourneyRef/PaxJourneyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "SeatProfileIDKeyKeyRef3" refer="SeatProfileIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/Service/OfferServiceAssociation/SeatAssignment/Seat/SeatProfileRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef9" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/Service/OfferServiceAssociation/SeatAssignment/SeatAssignmentAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef11" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/Service/OfferServiceAssociation/SeatAssignment/SeatAssignmentAssociations/PaxSegmentRef/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef5" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/Service/OfferServiceAssociation/SeatAssignment/ServiceDefinitionRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef10" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/OfferFlightAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef10" refer="PaxJourneyIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/OfferFlightAssociations/PaxJourneyRef/PaxJourneyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef12" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/OfferFlightAssociations/PaxSegmentReferences/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef6" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/Service/OfferServiceAssociation/ServiceDefinitionRef/ServiceDefinitionRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef21" refer="PaxIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/Service/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef22" refer="PaxIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/StopOverRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef11" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/StopOverRestrictions/StopOverLocation/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef13" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/PricedOffer/OfferItem/StopOverRestrictions/StopOverLocation/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef7" refer="PenaltyIDKey"><xs:selector xpath="./Response/PricedOffer/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef23" refer="PaxIDKey"><xs:selector xpath="./Response/PricedOffer/PTC_OfferParameters/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef14" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/Processing/PaxGroup/ContactInfo/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef24" refer="PaxIDKey"><xs:selector xpath="./Response/Promotion/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef15" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/Promotion/PromotionIssuer/Org/ContactInfo/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef16" refer="PaxSegmentIDKey"><xs:selector xpath="./Response/Promotion/PromotionIssuer/TravelAgency/ContactInfo/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref></xs:element>
</xs:schema>
