IATA_OrderChangeNotifRQ.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" elementFormDefault="qualified" version="11.000" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" id="IATA2021.3"><xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" schemaLocation="IATA_OffersAndOrdersCommonTypes.xsd"/>
<xs:element name="IATA_OrderChangeNotifRQ">
<xs:annotation>
<xs:documentation>The OrderChangeNotif transaction sends an unsolicited order change notification message. The Acknowledgement message may be returned to acknowledge receipt of the notification request.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="AugmentationPoint" type="cns:AugmentationPointType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Implementer-Augmented Structure.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DistributionChain" type="cns:DistributionChainType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>An instance of a distribution channel. That is, the set of organizations involved in the development of the current transaction.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Notification" type="cns:OrderChangeNotifType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Order Change Notification.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PayloadAttributes" type="cns:IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>IATA Standard Payload Attributes</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:key name = "BaggageAllowanceIDKey" ><xs:selector xpath = "./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/BaggageAllowanceList/BaggageAllowance" /><xs:field xpath="BaggageAllowanceID"/> </xs:key>
<xs:key name = "ContactInfoIDKey" ><xs:selector xpath = "./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/ContactInfoList/ContactInfo" /><xs:field xpath="ContactInfoID"/> </xs:key>
<xs:key name = "DatedOperatingLegIDKey" ><xs:selector xpath = "./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/DatedOperatingLegList/DatedOperatingLeg" /><xs:field xpath="DatedOperatingLegID"/> </xs:key>
<xs:key name = "DisclosureIDKey" ><xs:selector xpath = "./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/DisclosureList/Disclosure" /><xs:field xpath="DisclosureID"/> </xs:key>
<xs:key name = "PaxJourneyIDKey" ><xs:selector xpath = "./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/PaxJourneyList/PaxJourney" /><xs:field xpath="PaxJourneyID"/> </xs:key>
<xs:key name = "PaxIDKey" ><xs:selector xpath = "./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/PaxList/Pax" /><xs:field xpath="PaxID"/> </xs:key>
<xs:key name = "PaxSegmentIDKey" ><xs:selector xpath = "./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/PaxSegmentList/PaxSegment" /><xs:field xpath="PaxSegmentID"/> </xs:key>
<xs:key name = "PenaltyIDKey" ><xs:selector xpath = "./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/PenaltyList/Penalty" /><xs:field xpath="PenaltyID"/> </xs:key>
<xs:key name = "PriceClassIDKey" ><xs:selector xpath = "./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/PriceClassList/PriceClass" /><xs:field xpath="PriceClassID"/> </xs:key>
<xs:key name = "SeatProfileIDKey" ><xs:selector xpath = "./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/SeatProfileList/SeatProfile" /><xs:field xpath="SeatProfileID"/> </xs:key>
<xs:key name = "ServiceDefinitionIDKey" ><xs:selector xpath = "./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/ServiceDefinitionList/ServiceDefinition" /><xs:field xpath="ServiceDefinitionID"/> </xs:key>
<xs:keyref name = "PaxSegmentIDKeyKeyRef1" refer="PaxSegmentIDKey"><xs:selector xpath="./DistributionChain/DistributionChainLink/ContactInfo/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef2" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/ContactInfoList/ContactInfo/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef1" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/DatedOperatingSegmentList/DatedOperatingSegment/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DisclosureIDKeyKeyRef1" refer="DisclosureIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/DatedOperatingSegmentList/DatedOperatingSegment/DisclosureRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxJourneyIDKeyKeyRef1" refer="PaxJourneyIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/OriginDestList/OriginDest/PaxJourneyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef3" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/PaxJourneyList/PaxJourney/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "ContactInfoIDKeyKeyRef1" refer="ContactInfoIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/PaxList/Pax/ContactInfoRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef1" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/PaxList/Pax/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef2" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/PaxSegmentList/PaxSegment/CabinTypeAssociationChoice/LegCabinAssociations/LegsAssociatedCabin/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "BaggageAllowanceIDKeyKeyRef1" refer="BaggageAllowanceIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/ServiceDefinitionList/ServiceDefinition/ServiceDefinitionAssociation/BaggageAllowanceRef/BaggageAllowanceRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "SeatProfileIDKeyKeyRef1" refer="SeatProfileIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/ServiceDefinitionList/ServiceDefinition/ServiceDefinitionAssociation/SeatProfileRef/SeatProfileRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef1" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/DataLists/ServiceDefinitionList/ServiceDefinition/ServiceDefinitionAssociation/ServiceBundle/ServiceDefinitionRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef4" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/BookingRef/BookingEntity/Org/ContactInfo/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef2" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/CancelRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef3" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/ChangeRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef4" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/DiffPrice/FareDetail/FareComponent/CancelRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef5" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/DiffPrice/FareDetail/FareComponent/ChangeRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef1" refer="PenaltyIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/DiffPrice/FareDetail/FareComponent/FareRule/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef5" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/DiffPrice/FareDetail/FareComponent/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef1" refer="PriceClassIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/DiffPrice/FareDetail/FareComponent/PriceClassRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef6" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/DiffPrice/FareDetail/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef2" refer="PenaltyIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/DiffPrice/FareDetail/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef7" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/NewPrice/FareDetail/FareComponent/CancelRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef8" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/NewPrice/FareDetail/FareComponent/ChangeRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef3" refer="PenaltyIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/NewPrice/FareDetail/FareComponent/FareRule/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef6" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/NewPrice/FareDetail/FareComponent/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef2" refer="PriceClassIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/NewPrice/FareDetail/FareComponent/PriceClassRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef9" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/NewPrice/FareDetail/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef4" refer="PenaltyIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/NewPrice/FareDetail/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef10" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/OldPrice/FareDetail/FareComponent/CancelRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef11" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/OldPrice/FareDetail/FareComponent/ChangeRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef5" refer="PenaltyIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/OldPrice/FareDetail/FareComponent/FareRule/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef7" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/OldPrice/FareDetail/FareComponent/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef3" refer="PriceClassIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/OldPrice/FareDetail/FareComponent/PriceClassRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef12" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/OldPrice/FareDetail/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef6" refer="PenaltyIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DiffPrice/OldPrice/FareDetail/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DisclosureIDKeyKeyRef2" refer="DisclosureIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/DisclosureRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef13" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/FareDetail/FareComponent/CancelRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef14" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/FareDetail/FareComponent/ChangeRestrictions/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef7" refer="PenaltyIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/FareDetail/FareComponent/FareRule/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef8" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/FareDetail/FareComponent/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PriceClassIDKeyKeyRef4" refer="PriceClassIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/FareDetail/FareComponent/PriceClassRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef15" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/FareDetail/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef8" refer="PenaltyIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/FareDetail/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PenaltyIDKeyKeyRef9" refer="PenaltyIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/PenaltyRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef9" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/Service/BookingRef/BookingEntity/Org/ContactInfo/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef10" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/Service/OrderServiceAssociation/PaxSegmentRef/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "SeatProfileIDKeyKeyRef2" refer="SeatProfileIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/Service/OrderServiceAssociation/SeatOnLeg/Seat/SeatProfileRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef3" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/Service/OrderServiceAssociation/SeatOnLeg/SeatAssignmentAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef11" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/Service/OrderServiceAssociation/SeatOnLeg/SeatAssignmentAssociations/PaxSegmentRef/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "DatedOperatingLegIDKeyKeyRef4" refer="DatedOperatingLegIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/Service/OrderServiceAssociation/ServiceDefinitionRef/OrderFlightAssociations/DatedOperatingLegRef/DatedOperatingLegRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef12" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/Service/OrderServiceAssociation/ServiceDefinitionRef/OrderFlightAssociations/PaxSegmentRef/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "ServiceDefinitionIDKeyKeyRef2" refer="ServiceDefinitionIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/Service/OrderServiceAssociation/ServiceDefinitionRef/ServiceDefinitionRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxIDKeyKeyRef16" refer="PaxIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/OrderItem/Service/PaxRefID"/><xs:field xpath="."/></xs:keyref>
<xs:keyref name = "PaxSegmentIDKeyKeyRef13" refer="PaxSegmentIDKey"><xs:selector xpath="./Notification/ChangeGroup/ChangeOperationGroup/ChangeOperation/New/Order/PaxGroup/ContactInfo/PaxSegmentRefID"/><xs:field xpath="."/></xs:keyref></xs:element>
</xs:schema>
